<?xml version="1.0" encoding="UTF-8"?>
<config>
    
    <modules>
        <Essential_Related>
            <version>0.1.0</version>
        </Essential_Related>
    </modules>
    
    <global>
        
        <models>
            <essential_related>
                <class>Essential_Related_Model</class>
            </essential_related>
        </models>
        
        <resources>
            <essential_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </essential_read>
            <essential_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </essential_write>
            <essential_setup>
                <setup>
                    <module>Essential_Related</module>
                </setup>
            </essential_setup>
        </resources>
    </global>
    
    
    <adminhtml>
        <layout>
            <updates>
                <related>
                    <file>essential/related.xml</file>
                </related>
            </updates>
        </layout>
    </adminhtml>
    
    <frontend>
        <layout>
            <updates>
                <essential_related>
                    <file>essential_related.xml</file>
                </essential_related>
            </updates>
        </layout>
        
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <essential_related_layout_load_before>
                        <class>essential_related/observer</class>
                        <method>controllerActionLayoutLoadBefore</method>
                    </essential_related_layout_load_before>
                </observers>
            </controller_action_layout_load_before>
        </events>
        
    </frontend>
    
</config>
